<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="../styles/bootstrap.css">
  <style>
    .hero-list img {
      width: 50px;
      height: 50px;
      display: block
    }

    .hero-list td {
      height: 50px;
      line-height: 50px;
    }
  </style>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1>王者荣耀 <small>英雄管理器</small></h1>
    </div>
  </header>
  <div class="container hero-list">
    <a class="btn btn-success pull-right" href="./add.html">添加英雄</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>性别</th>
          <th>头像</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr>
          <td>1</td>
          <td>jack</td>
          <td>男</td>
          <td><img src="../images/0.jpg"></td>
          <td><a href="#">查看</a> <a href="#">修改</a> 
            <a href="#">删除</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>rose</td>
          <td>女</td>
          <td><img src="../images/1.jpg"></td>
          <td><a href="#">查看</a> <a href="#">修改</a> 
            <a href="#">删除</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/template-web.js"></script>
<script type="text/template" id="list">
{{each data value index}}
  <tr>
    <td>{{value.id}}</td>
    <td>{{value.name}}</td>
    <td>{{value.gender}}</td>
    <td><img src="http://127.0.0.1:3002/images/{{value.img}}"></td>
    <td><a href="#">查看</a> <a href="./edit.html?id={{value.id}}">修改</a> 
      <a href="javascript:;" onclick='del({{value.id}})'>删除</a></td>

  </tr>
{{/each}}
</script>
<script>
$(function(){
  $.ajax({
    type:"get",
    dataType:"json",
    url:"http://127.0.0.1:3002/getalldata",
    success:function(res){
      var temp=template("list",res)
      $("#tbody").html(temp)
      console.log(res.data)
    }
  })
})
function del(id){
  if(window.confirm("要删除?")){
    $.ajax({
      type:"get",
      data:{id:id},
      url:"http://127.0.0.1:3002/delete",
      dataType:"json",
      success:function(res){
        alert(res.msg)
        location.href="./index.html"
      }
    })
  }
}
</script>
</html>